/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

body {
    background-color: #E7FCFF;
    font-family: Avenir;
}

a:link {
    
    text-decoration: none;
    color: black;
    padding: 5px;
}

a:visited {
    
    background-color: cyan;
    color: black;
}

a:hover {
    
    background-color: #468EA6;
    color: black;
}

a:active {

    color: black;
} 

nav {
    text-align: left;
    border: 2px;
    float: center;
}

.MainHeader {    
    
    background-color: #D6F5FF;
    text-align: center;
    padding: 10px;
    font-family: Montserrat;
    margin-top: 0px;
}

#IndexHeader {
    
    //color: blue;
    //font-family: Billabong;
    
}
.List {
    
    background-color: #D6F5FF;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    
}

.List li{
    
    display: inline;
    font-size: 30px;
    padding: 30px;
}