/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

body {
    background-color: #F2F7F8;
    font-family: LifesABeach;
    margin: 0;
    font-size: 20px;
}

#container {
    
    padding-left: 20px;
    padding-right: 20px;
    
}

.button {
    background-color: #A8BABF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input[type=text], [type=password], [type=email] {
    
    margin: auto;
    margin-top: 15px;
    width: 80%;
    font-size: 20px;
    padding: 4px 20px 4px 40px;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=text] {
    
    background-image: url('images/username.png');
    background-position: 5px 5px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

input[type=password] {
    
    background-image: url('images/padlock.png');
    background-position: 4px 3px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    
}

input[type=phone] {
    
    background-image: url('images/phone.png');
    background-position: 4px 3px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    
}

input[type=email] {
    
    background-image: url('images/email.png');
    background-position: 4px 3px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    
}

footer {
    
    text-align: center;
    background-color: #D6F5FF;
    
}

footer p {
    
    padding: 10px;
}

a:link {
    
    text-decoration: none;
    color: black;
    padding: 5px;
}

a:visited {
    
    //background-color: cyan;
    color: black;
}

li a:hover {
    
    background-color: #468EA6;
    color: black;
}

.button:hover {
    
    background-color: #828C8F;
    
}

li a:active {

    color: black;
    background-color: #A8BABF;
} 

nav {
    text-align: left;
    border: 2px;
    float: center;
}

.MainHeader {    
    
    background-color: #D6F5FF;
    text-align: center;
    padding: 5px;
    //font-family: Montserrat;
    
}

#IndexHeader {
    
    //color: blue;
    //font-family: Billabong;
    
}
.List {
    
    background-color: #D6F5FF;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    
}

.List li{
    
    display: inline;
    font-size: 35px;
    padding: 30px;
}

li {
    
    list-style: none;
}

.ArticleDesign {
    
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    width: 20%;
    margin: auto;
    border-color: #A967D5;
}

.profileDesign {
    
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    border-color: #A967D5;
    
}

.ArticleDesign h3, .profileDesign h3 {
    
    padding: 10px;
    margin: 0px;
    background-color: #A967D5;
    margin-bottom: 5px;
    text-align: center;
    
}

#Pictures {
    
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    border-color: #B1ECFF;
    
}
.selected {
    
    background-color: #A8BABF;

}

#profilePicture{
    
    float: right;
    position: relative;
    //margin-bottom: 5px;
    
}

#profileDetails{
    
    //float: left;
    margin-left: 2%;
    margin-right: 30%;
    margin-bottom: 50px;
    
}

#profileButtons{
    
    margin: auto;
    text-align: center;
    
}